[submodule "dependencies/glove80-rmk"]
	path = dependencies/glove80-rmk
	url = https://github.com/colonelpanic8/glove80-rmk.git
	branch = master
[submodule "rynkbench"]
	path = rynkbench
	url = https://github.com/colonelpanic8/rynkbench.git
	branch = master
