[submodule "dependencies/moergo-rmk"]
	path = dependencies/moergo-rmk
	url = https://github.com/colonelpanic8/moergo-rmk.git
	branch = master
[submodule "rynkbench"]
	path = rynkbench
	url = https://github.com/colonelpanic8/rynkbench.git
	branch = master
